/* css file for the headTail website */

/* Header with photo background */



.jumbotron {
background: #000 url("../images/massage.jpeg") center center;
background-size: cover;
height: 100;
width: 100%;
min-height: 100%;
overflow: hidden;}


.gregstuff h1 {color:green; padding-top: 5%;}
.gregstuff h2 {color:green; padding-bottom: 2%; text-align: center; }
.gregstuff ul {list-style-type: none;}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

/*header {
    height: 170px;
}

.headerColumnone {
  float: left;
}
*/

/*.companyName {
   font-family: sans-serif;
   font-size: 70px;
   text-align: left;
   text-decoration: none;
   padding-top: 20px;
   color: green;
}

.companyMission {
   font-size: 35px;
   color: green;
}
.logoTop{
   width: 150px;
}

#hTHeader {
   float: left;
   padding-left: 20px;
}

/* most elements inherit from hTbody */

*/

/*.hTbody {
    
	margin: 5%;
    font-family: 'Gentium Basic', Arial, sans-serif;
    font-size: 16px;
    text-align: left;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    padding-left: 10px;
    border: 2px solid;
    border-radius: 25px;
    background: darkseagreen;
    border-color: rgb(248,154,47);

}

/* Settings for horizontal nav */



#hTNav 
}

#hTNav ul li { 
	display: inline-block; 
	border: 2px solid;
    border-radius: 15px;
    border-color: rgb(248,154,47);
    background-color: darkseagreen;
    padding: 1% 4%;
}

#hTNav ul li a {
	color: black;
	padding: 0px 0px;
}
.hTContacts {
	list-style-type: none;
  text-align: center;
} 
/*
#hTContacts ul li {
	Margin: 10px 0;
} 

*/
#hTFeedback form {
  margin-left: 10%;
}

#hTForms ul {
	list-style-type: none;
    text-align: center;
}

#hTForms ul li {
	Margin: 10px 0;
} 

#mapCanvas {
	width: 500px;
	height: 400px;
    margin-bottom: 2%;
}

/* Adobe icon for .pdf forms */



/*a[href$=".pdf"] {
    background: url("../images/Adobe_PDF_file_icon_24x24.png") no-repeat 10px 10px;
    padding-left: 4%;
    padding-top: 1%;
}

Footer {
    font-family: 'Gentium Basic', Arial, sans-serif;
    font-size: 14px;
    text-align: center;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}
*/
.offering {
  margin-right: 5px;
  margin-bottom: -10px;
  height: 7em;
  width: 7em;
  float: left;
}

*/
